/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #FFF4FA;
}

h1 {
	font-family: 'Fredoka', sans-serif;
}

h5 {
	font-family: birra-2,serif;
font-weight: 700;
font-style: normal;
}
/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #FEB6C6;
}

.resume-main {
	background-color: #FFDDEE;
}

.resume-aside {
	background-color: #FEDBE1;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}
.funky-text {
	color: #8E59C0;

text-align: center;

font-style: italic;

text-decoration: underline #ffcc90;

}
.my-box {

background: #f0ccff;

padding-top: 10px;

padding-bottom: 30px;

border: 4px dashed #20cc20;

margin: 20px;

}